@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif !important;
}
